

<%= line_chart ([{name: "Lead time from commit to Aptly", data: @commits_to_build_lead_time_graph},
  {name: "Lead time from commit to release", data: @commits_to_release_lead_time_graph}]),
               chart_options(
                 title: 'Actual commit lead times',
                 xtitle: 'Commit Time',
                 ytitle: 'Commit Lead Time (in hours)') %>

<%= line_chart ([{name: "Average lead time from commit to Aptly(in hours)", data: @average_build_lead_time_per_week_graph},
  {name: "Average lead time from commit to release(in hours)", data: @average_release_lead_time_per_week_graph}]),
               chart_options(
                 title: 'Average weekly commit lead times',
                 xtitle: 'Weeks',
                 ytitle: 'Commit average lead time (in hours)'
               ) %>

<h1>Commit data</h1>

<table id="commit-table" class="sortable">
  <thead>
    <tr class="heading">
      <th>Sha</th>
      <th>Commit Date</th>
      <th>Build Date</th>
      <th>Release Date</th>
      <th>Release Tag</th>
      <th>Lead Time to Build</th>
      <th>Lead Time to Prod</th>
    </tr>
  </thead>
  <tbody>
    <% @commits.each do |commit| %>
      <tr>
        <td><%= commit.sha %></td>
        <td><%= commit.commit_date.strftime date_format %></td>
        <td><%= commit.build_date.strftime date_format %></td>
        <td><%= commit.release_date.strftime date_format %></td>
        <td><%= commit.release_tag %></td>
        <td><%= commit.commit_to_build_lead_time %></td>
        <td><%= commit.commit_to_release_lead_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready( function () {
    $('#commit-table').DataTable();
  } );
</script>